# ===== MATLAB & Simulink temporary / cache files =====

# Autosave files
*.asv
*.autosave

# Backup / temp variations
*.m~
*.bak
*.orig

# Simulink cache & build folders
slprj/
*slxc
*.slxc

# Logs and misc
*.log

# OS crap
Thumbs.db
.DS_Store
